<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Distribuidora San Gerardo</title>
        <meta charset="UTF-8"/>        

    </head>
    <body onload="mostrarTema();">
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{tienda/fragmentos :: agregarProducto}"/>
        <section th:replace="~{tienda/fragmentos :: listado}"/>
        <section th:replace="~{tienda/fragmentos :: confirmarEliminar}"/>
        <section th:replace="~{tienda/detalle :: modalDetalle}"/>


        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>