<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">

    </head>
    <body>
        <section th:fragment="nosotrosContenido"> <div class="container my-5"> <h2 class="text-center text-warning fw-bold mb-4">Distribuidora San Gerardo</h2> <p class="text-center"> Nosotros somos un negocio familiar ubicado en Tres Ríos, La Unión; que lleva en el mercado desde el 25 de enero de 1999. </p>
                
                <div class="row my-4">
                    <div class="col-md-4 text-center">
                        <img src="/images/local1.png" alt="Distribuidora San Gerardo" class="img-fluid shadow">
                    </div>
                    <div class="col-md-8">
                        <p>
                            La dueña Doña Isabel con mucho amor compró unas gallinas coloradas, invirtió en llevarlas al veterinario para sus vitaminas y cuidos,
                            y así poder ofrecer una excelente calidad en los huevos que iba a vender.
                        </p>
                        <p>
                            Empezó vendiendo los huevos en una canasta, en la mesita de T.V en frente de su casa.
                        </p>
                        <p>
                            Las personas que compraban, quedaban encantadas, ya que, para esa época, no había un lugar cercano en Tres Ríos, donde pudieran comprar este tipo de producto,
                            o carnes, verduras, etc.
                        </p>
                    </div>
                </div>

                <p class="text-center">
                    Al notar esto, poco a poco fuimos añadiendo nuevos productos al negocio, por ejemplo: Pollo, Res, Queso, y muchos otros.
                    Y así fuimos creciendo hasta llegar a ser una Distribuidora, ya con un local propio y excelente, donde ofrecemos los productos
                    y atención de la mejor calidad para nuestros clientes.
                </p>

                <div class="text-center my-4">
                    <img src="/images/local2.png" alt="Interior Distribuidora" class="img-fluid shadow">
                </div>
            </div>
        </section>

    </body>
</html>